html,
body {
  @apply scroll-smooth font-poppins;
}

/** RESET AUTO FILL TEXT INPUT DESIGN */
input:-webkit-autofill,
input:-webkit-autofill:is(:hover, :focus, :active) {
  transition: background-color 5000000s ease-in-out 0s;
}

/** Scrollbar custom style */
::-webkit-scrollbar {
  @apply w-[2px] h-[2px];
}
::-webkit-scrollbar-track {
  @apply bg-gray-300;
}
::-webkit-scrollbar-thumb {
  @apply h-6 overflow-hidden rounded-full bg-gradient-to-b from-neutral-400 via-neutral-900 to-neutral-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply from-neutral-600 to-neutral-600;
}

/** Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
  display: none;
}

/** Hide scrollbar for IE, Edge and Firefox */
.container-snap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* svg {
  @apply w-6 h-6;
} */
header {
  min-height: var(--nav-height);
  background-color: white;
}

section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
