:root {
  --nav-height: 56px;
  --padding-container: 24px;

  --color-marine-900: #1b3e39;
  --color-marine-700: #2e6962;
  --color-marine-500: #4d9c93;
  --color-marine-300: #52b6aa;
  --color-marine-100: #dff7f5;

  --color-neutral-700: #575e5c;
  --color-neutral-500: #b3bcb9;
  --color-neutral-300: #d3e0dd;
  --color-neutral-100: #e9f2f0;

  --color-theme-dark: #1a1f1e;
  --color-theme-light: #fafffe;

  --gradient-light: linear-gradient(96.11deg, #fafffe 1.63%, #f0fbfb 101.97%);
  --gradient-dark: linear-gradient(96.43deg, #95c4bf 1.25%, #1b3e39 100%);
}
